@import "tailwindcss";
@import "./styles/globals.css";

@theme {
  --color-zinc-850: #1f1f23;
  --color-zinc-925: #0e0e11;
  --color-zinc-950: #09090b;
  --color-deep-slate: #0F172A;
  --color-burnt-ochre: #C46210;
  --color-whatsapp-green: #25D366;
  --font-montserrat: Montserrat, sans-serif;
  --font-inter: Inter, sans-serif;
}

html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #0F172A;
  color: #ffffff;
  font-family: 'Inter', sans-serif;
}
